In [3]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

/usr/local/Anaconda3-5.0.0-Linux-x86_64/envs/PUI2016_Python3/lib/python3.5/site-packages/IPython/html.py:14: ShimWarning: The `IPython.html` package has been deprecated. You should import from `notebook` instead. `IPython.html.widgets` has moved to `ipywidgets`.
  "`IPython.html.widgets` has moved to `ipywidgets`.", ShimWarning)

#### Data download

### New Race Dataset

In [180]:
new_race = pd.read_excel("POP2000.xlsx")
new_race.head()

,fips,stname,ctyname,state,county,year,tot_pop,tot_male,tot_female,nh_male,...,hba_male,hba_female,hia_male,hia_female,haa_male,haa_female,hna_male,hna_female,htom_male,htom_female
0,1001,Alabama,Autauga County,1,1,2000,44021,21385,22636,21052,...,27,22,8,4,3,6,0,1,4,5
1,1001,Alabama,Autauga County,1,1,2001,44889,21813,23076,21449,...,26,22,8,4,3,9,0,1,3,4
2,1001,Alabama,Autauga County,1,1,2002,45909,22362,23547,21967,...,28,26,8,4,2,6,1,2,5,4
3,1001,Alabama,Autauga County,1,1,2003,46800,22760,24040,22335,...,29,28,12,7,2,5,1,2,8,6
4,1001,Alabama,Autauga County,1,1,2004,48366,23512,24854,23056,...,27,29,12,8,2,6,2,2,10,7

In [219]:
race_2010 = new_race[new_race['year'] == 2010]

In [185]:
shootings.groupby(["Victim's race"])["Victim's race"].count()

Victim's race
Asian                      101
Asian/Pacific Islander       2
Black                     1666
Hispanic                  1106
Native American             95
Pacific Islander            29
Unknown Race                 2
Unknown race               630
White                     2894
Name: Victim's race, dtype: int64

In [220]:
race_2010['Hispanic'] = race_2010['h_male'] + race_2010['h_female']
race_2010['White'] = race_2010['wa_male'] + race_2010['wa_female']
race_2010['Black'] = race_2010['ba_male'] + race_2010['ba_female']
race_2010['Native American'] = race_2010['ia_male'] + race_2010['ia_female']
race_2010['Asian'] = race_2010['aa_male'] + race_2010['aa_female']
race_2010['Pacific Islander'] = race_2010['na_male'] + race_2010['na_female']
race_2010['Other'] = race_2010['tom_male'] + race_2010['tom_female']
race_2010['Total'] = (race_2010['Hispanic'] + race_2010['White'] + race_2010['Black']
                   + race_2010['Native American'] + race_2010['Asian'] 
                   + race_2010['Pacific Islander'] + race_2010['Other'])

/usr/local/Anaconda3-5.0.0-Linux-x86_64/envs/ADS/lib/python3.5/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/usr/local/Anaconda3-5.0.0-Linux-x86_64/envs/ADS/lib/python3.5/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/usr/local/Anaconda3-5.0.0-Linux-x86_64/envs/ADS/lib/python3.5/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/Anaconda3-5.0.0-Linux-x86_64/envs/ADS/lib/python3.5/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/usr/local/Anaconda3-5.0.0-Linux-x86_64/envs/ADS/lib/python3.5/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/usr/local/Anaconda3-5.0.0-Linux-x86_64/envs/ADS/lib/python3.5/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/usr/local/Anaconda3-5.0.0-Linux-x86_64/envs/ADS/lib/python3.5/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
/usr/local/Anaconda3-5.0.0-Linux-x86_64/envs/ADS/lib/python3.5/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.

In [221]:
race_2010[['fips', 'stname', 'ctyname', 'state', 'county', 'year', 'tot_pop', 
          'Total', 'Hispanic', 'White', 'Black', 'Native American', 'Asian',
          'Pacific Islander', 'Other']].head()

,fips,stname,ctyname,state,county,year,tot_pop,Total,Hispanic,White,Black,Native American,Asian,Pacific Islander,Other
10,1001,Alabama,Autauga County,1,1,2010,54632,55975,1343,43320,9743,280,490,42,757
21,1003,Alabama,Baldwin County,1,3,2010,183195,191273,8078,160458,17406,1338,1392,125,2476
32,1005,Alabama,Barbour County,1,5,2010,27411,28770,1359,13932,12906,152,116,39,266
43,1007,Alabama,Bibb County,1,7,2010,22867,23270,403,17497,5065,86,43,14,162
54,1009,Alabama,Blount County,1,9,2010,57338,61988,4650,55372,839,304,158,59,606

In [222]:
race_2010['Hispanic_perc'] = race_2010['Hispanic'] / race_2010['Total']
race_2010['White_perc'] = race_2010['White'] / race_2010['Total']
race_2010['Black_perc'] = race_2010['Black'] / race_2010['Total']
race_2010['Native_American_perc'] = race_2010['Native American'] / race_2010['Total']
race_2010['Asian_perc'] = race_2010['Asian'] / race_2010['Total']
race_2010['Pacific_Islander_perc'] = race_2010['Pacific Islander'] / race_2010['Total']
race_2010['Other_perc'] = race_2010['Other'] / race_2010['Total']

/usr/local/Anaconda3-5.0.0-Linux-x86_64/envs/ADS/lib/python3.5/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/usr/local/Anaconda3-5.0.0-Linux-x86_64/envs/ADS/lib/python3.5/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/usr/local/Anaconda3-5.0.0-Linux-x86_64/envs/ADS/lib/python3.5/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/Anaconda3-5.0.0-Linux-x86_64/envs/ADS/lib/python3.5/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/usr/local/Anaconda3-5.0.0-Linux-x86_64/envs/ADS/lib/python3.5/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/usr/local/Anaconda3-5.0.0-Linux-x86_64/envs/ADS/lib/python3.5/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/usr/local/Anaconda3-5.0.0-Linux-x86_64/envs/ADS/lib/python3.5/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [223]:
df = race_2010[['fips', 'stname', 'ctyname', 'state', 'county', 'tot_pop', 'Hispanic_perc',
                'White_perc', 'Black_perc', 'Native_American_perc', 'Asian_perc',
                'Pacific_Islander_perc', 'Other_perc']]
df.head()

,fips,stname,ctyname,state,county,tot_pop,Hispanic_perc,White_perc,Black_perc,Native_American_perc,Asian_perc,Pacific_Islander_perc,Other_perc
10,1001,Alabama,Autauga County,1,1,54632,0.023993,0.773917,0.174060,0.005002,0.008754,0.000750,0.013524
21,1003,Alabama,Baldwin County,1,3,183195,0.042233,0.838895,0.091001,0.006995,0.007278,0.000654,0.012945
32,1005,Alabama,Barbour County,1,5,27411,0.047237,0.484254,0.448592,0.005283,0.004032,0.001356,0.009246
43,1007,Alabama,Bibb County,1,7,22867,0.017318,0.751912,0.217662,0.003696,0.001848,0.000602,0.006962
54,1009,Alabama,Blount County,1,9,57338,0.075015,0.893270,0.013535,0.004904,0.002549,0.000952,0.009776

In [164]:
#https://www.ers.usda.gov/data-products/county-level-data-sets/download-data/
unemployment = pd.read_excel("Unemployment.xls", skiprows=7)
unemployment.head()

,FIPStxt,State,Area_name,Rural_urban_continuum_code_2013,Urban_influence_code_2013,Metro_2013,Civilian_labor_force_2007,Employed_2007,Unemployed_2007,Unemployment_rate_2007,...,Civilian_labor_force_2016,Employed_2016,Unemployed_2016,Unemployment_rate_2016,Civilian_labor_force_2017,Employed_2017,Unemployed_2017,Unemployment_rate_2017,Median_Household_Income_2016,Med_HH_Income_Percent_of_State_Total_2016
0,0,US,United States,NaN,NaN,NaN,152191093.0,145156134.0,7034959.0,4.622451,...,158921892.0,151183680.0,7738212.0,4.869192,160588515.0,153594100.0,6994415.0,4.355489,57617.0,NaN
1,1000,AL,Alabama,NaN,NaN,NaN,2175612.0,2089127.0,86485.0,4.000000,...,2173175.0,2045624.0,127551.0,5.900000,2168444.0,2073106.0,95338.0,4.400000,46309.0,100.0
2,1001,AL,"Autauga County, AL",2.0,2.0,1.0,24383.0,23577.0,806.0,3.300000,...,25918.0,24593.0,1325.0,5.100000,25909.0,24908.0,1001.0,3.900000,54487.0,117.7
3,1003,AL,"Baldwin County, AL",3.0,2.0,1.0,82659.0,80099.0,2560.0,3.100000,...,90500.0,85656.0,4844.0,5.400000,91567.0,87915.0,3652.0,4.000000,56460.0,121.9
4,1005,AL,"Barbour County, AL",6.0,6.0,0.0,10334.0,9684.0,650.0,6.300000,...,8402.0,7700.0,702.0,8.400000,8236.0,7750.0,486.0,5.900000,32884.0,71.0

In [165]:
income = unemployment[['FIPStxt', 'Median_Household_Income_2016']]
income.head()

   FIPStxt  Median_Household_Income_2016
0        0                       57617.0
1     1000                       46309.0
2     1001                       54487.0
3     1003                       56460.0
4     1005                       32884.0

In [154]:
#https://www.ers.usda.gov/data-products/county-level-data-sets/download-data/
poverty = pd.read_excel("PovertyEstimates.xls", skiprows=3)

In [167]:
#learn what this ratio exactly means - perc of people below 
povert = poverty[['FIPStxt', 'PCTPOVALL_2016']]
povert.head()

   FIPStxt  PCTPOVALL_2016
0        0            14.0
1     1000            17.0
2     1001            14.0
3     1003            12.0
4     1005            30.0

In [224]:
df = df.merge(income, left_on ='fips', right_on = 'FIPStxt')
df.head()

,fips,stname,ctyname,state,county,tot_pop,Hispanic_perc,White_perc,Black_perc,Native_American_perc,Asian_perc,Pacific_Islander_perc,Other_perc,FIPStxt,Median_Household_Income_2016
0,1001,Alabama,Autauga County,1,1,54632,0.023993,0.773917,0.174060,0.005002,0.008754,0.000750,0.013524,1001,54487.0
1,1003,Alabama,Baldwin County,1,3,183195,0.042233,0.838895,0.091001,0.006995,0.007278,0.000654,0.012945,1003,56460.0
2,1005,Alabama,Barbour County,1,5,27411,0.047237,0.484254,0.448592,0.005283,0.004032,0.001356,0.009246,1005,32884.0
3,1007,Alabama,Bibb County,1,7,22867,0.017318,0.751912,0.217662,0.003696,0.001848,0.000602,0.006962,1007,43079.0
4,1009,Alabama,Blount County,1,9,57338,0.075015,0.893270,0.013535,0.004904,0.002549,0.000952,0.009776,1009,47213.0

In [225]:
df = df.merge(povert, left_on ='fips', right_on = 'FIPStxt')
df.head()

,fips,stname,ctyname,state,county,tot_pop,Hispanic_perc,White_perc,Black_perc,Native_American_perc,Asian_perc,Pacific_Islander_perc,Other_perc,FIPStxt_x,Median_Household_Income_2016,FIPStxt_y,PCTPOVALL_2016
0,1001,Alabama,Autauga County,1,1,54632,0.023993,0.773917,0.174060,0.005002,0.008754,0.000750,0.013524,1001,54487.0,1001,14.0
1,1003,Alabama,Baldwin County,1,3,183195,0.042233,0.838895,0.091001,0.006995,0.007278,0.000654,0.012945,1003,56460.0,1003,12.0
2,1005,Alabama,Barbour County,1,5,27411,0.047237,0.484254,0.448592,0.005283,0.004032,0.001356,0.009246,1005,32884.0,1005,30.0
3,1007,Alabama,Bibb County,1,7,22867,0.017318,0.751912,0.217662,0.003696,0.001848,0.000602,0.006962,1007,43079.0,1007,20.0
4,1009,Alabama,Blount County,1,9,57338,0.075015,0.893270,0.013535,0.004904,0.002549,0.000952,0.009776,1009,47213.0,1009,14.0

In [226]:
df.shape

(3139, 17)

### Shooting dataset

In [4]:
shootings = pd.read_excel("MPVDatasetDownload (4).xlsx")
shootings.head()

,Victim's name,Victim's age,Victim's gender,Victim's race,URL of image of victim,Date of Incident (month/day/year),Street Address of Incident,City,State,Zipcode,...,Criminal Charges?,Link to news article or photo of official document,Symptoms of mental illness?,Unarmed,Alleged Weapon (Source: WaPo),Alleged Threat Level (Source: WaPo),Fleeing (Source: WaPo),Body Camera (Source: WaPo),WaPo ID (If included in WaPo database),Unnamed: 24
0,Name withheld by police,Unknown,Male,Unknown race,NaN,2018-09-18,300 35th Street,Virginia Beach,VA,23451.0,...,No known charges,https://wtkr.com/2018/09/18/virginia-beach-pol...,Unknown,Allegedly Armed,gun,attack,Foot,No,4033.0,NaN
1,Jose Alvarez,23,Male,Hispanic,https://www.fatalencounters.org/wp-content/upl...,2018-09-17,3466 Brinkley Rd,Temple Hills,MD,20748.0,...,No known charges,http://pgpolice.blogspot.com/2018/09/pgpd-inve...,No,Allegedly Armed,gun,other,Foot,No,4038.0,NaN
2,Susan Muller,54,Female,Unknown race,NaN,2018-09-17,59-14 69th Street,Flushing,NY,11378.0,...,No known charges,http://www.nydailynews.com/new-york/nyc-crime/...,Yes,Allegedly Armed,knife,attack,Not fleeing,Yes,4039.0,NaN
3,Name withheld by police,Unknown,Male,Unknown race,NaN,2018-09-17,13105 Greenville Rd,Hopkinsville,KY,42240.0,...,No known charges,https://www.wsmv.com/news/suspect-shot-killed-...,No,Vehicle,vehicle,attack,Car,No,4040.0,NaN
4,"Ricardo ""Macho"" Avenia",29,Male,Hispanic,NaN,2018-09-16,571 Pershing Ave,Lancaster,PA,17602.0,...,No known charges,https://lancasteronline.com/news/local/da-poli...,No,Allegedly Armed,gun,attack,Not fleeing,No,4035.0,NaN

In [5]:
len(set(shootings['County']))

1028

In [ ]:
## we can look to age distribution later
set(shootings["Victim's age"])
shootings["Victim's age"][(shootings["Victim's age"] != 'Unknown') & 
                          (shootings["Victim's age"] != '40s')]

In [6]:
shootings.columns

Index(['Victim's name', 'Victim's age', 'Victim's gender', 'Victim's race',
       'URL of image of victim', 'Date of Incident (month/day/year)',
       'Street Address of Incident', 'City', 'State', 'Zipcode', 'County',
       'Agency responsible for death', 'Cause of death',
       'A brief description of the circumstances surrounding the death',
       'Official disposition of death (justified or other)',
       'Criminal Charges?',
       'Link to news article or photo of official document',
       'Symptoms of mental illness?', 'Unarmed',
       'Alleged Weapon (Source: WaPo)', 'Alleged Threat Level (Source: WaPo)',
       'Fleeing (Source: WaPo)', 'Body Camera (Source: WaPo)',
       'WaPo ID (If included in WaPo database)', 'Unnamed: 24'],
      dtype='object')

In [7]:
## Armed or unarmed
shootings["Armed"] = np.where(shootings["Alleged Weapon (Source: WaPo)"] == "gun", 'gun',
                    (np.where(shootings["Alleged Weapon (Source: WaPo)"] == "gun (reached for)", 'gun',
                    (np.where(shootings["Alleged Weapon (Source: WaPo)"] == "gun and car", 'gun',
                    (np.where(shootings["Alleged Weapon (Source: WaPo)"] == "gun and hatchet", 'gun',
                    (np.where(shootings["Alleged Weapon (Source: WaPo)"] == "gun and knife", 'gun',
                    (np.where(shootings["Alleged Weapon (Source: WaPo)"] == "gun and machete", 'gun',
                    (np.where(shootings["Alleged Weapon (Source: WaPo)"] == "gun and sword", 'gun',
                    (np.where(shootings["Alleged Weapon (Source: WaPo)"] == "gun and vehicle", 'gun',
                    (np.where(shootings["Alleged Weapon (Source: WaPo)"] == "guns and explosives", 'gun',
                    (np.where(shootings["Alleged Weapon (Source: WaPo)"] == "knife", 'knife',
                    (np.where(shootings["Alleged Weapon (Source: WaPo)"] == "knife, toy", 'knife',
                    (np.where(shootings["Alleged Weapon (Source: WaPo)"] == "toy", 'toy',
                    (np.where(shootings["Alleged Weapon (Source: WaPo)"] == "toy broomstick", 'toy',
                    (np.where(shootings["Alleged Weapon (Source: WaPo)"] == "undetermined", 'undetermined',
                    (np.where(shootings["Alleged Weapon (Source: WaPo)"] == "vehicle", 'vehicle',
                    (np.where(shootings["Alleged Weapon (Source: WaPo)"] == "unarmed", 'unarmed',
                    (np.where(shootings["Alleged Weapon (Source: WaPo)"] == "unarmed (pedestrian)", 'unarmed',
                    'others')))))))))))))))))))))))))))))))))

In [8]:
## Fleeing or not fleeing
shootings["Flee"] = np.where(shootings["Fleeing (Source: WaPo)"] == "Car", 'Fleeing',
                   (np.where(shootings["Fleeing (Source: WaPo)"] == "Foot", 'Fleeing',
                   (np.where(shootings["Fleeing (Source: WaPo)"] == "Not fleeing", 'Not Fleeing',
                    'Other')))))

In [9]:
## Official disposition of death
shootings["Official_Invest"] = np.where(shootings["Official disposition of death (justified or other)"] == \
                                        "Peding investigaton", 'pending investigation',
    (np.where(shootings["Official disposition of death (justified or other)"] == \
              "Pending Investigation", 'pending investigation',
    (np.where(shootings["Official disposition of death (justified or other)"] == \
              "Pending investigation", 'pending investigation',
    (np.where(shootings["Official disposition of death (justified or other)"] == \
              "Pending investigation ", 'pending investigation',
    (np.where(shootings["Official disposition of death (justified or other)"] == \
              "Pending investigation  ", 'pending investigation',
    (np.where(shootings["Official disposition of death (justified or other)"] == \
              "Pending investigation; Georgia Bureau of Investigation", 'pending investigation',
    (np.where(shootings["Official disposition of death (justified or other)"] == \
              "Pending investigation; Minnesota Bureau of Criminal Apprehension, Minnesota State Patrol, Anoka County Sheriff's Office, Fridley Police Department, Lino Lakes Police Department", 
              'pending investigation',
    (np.where(shootings["Official disposition of death (justified or other)"] == \
              "Pending investigation; Snohomish County Multiagency Response Team", 'pending investigation',
    (np.where(shootings["Official disposition of death (justified or other)"] == \
              "Pending investigaton", 'pending investigation',
    (np.where(shootings["Official disposition of death (justified or other)"] == \
              "Pending investigaton", 'pending investigation',
    (np.where(shootings["Official disposition of death (justified or other)"] == \
              "Justified", 'justified',
    (np.where(shootings["Official disposition of death (justified or other)"] == \
              "Justified by District Attorney", 'justified',
    (np.where(shootings["Official disposition of death (justified or other)"] == \
              "Justified by Prosecutor", 'justified',
    (np.where(shootings["Official disposition of death (justified or other)"] == \
              "Justified; Civil Suit", 'justified',
    (np.where(shootings["Official disposition of death (justified or other)"] == \
              "Justified; New York State Police investigation; Schwalm's brother offered condolences to the \
              deputy because of his brother's illness.", 'justified',
    (np.where(shootings["Official disposition of death (justified or other)"] == \
              "justified", 'justified',
    (np.where(shootings["Official disposition of death (justified or other)"] == \
              "Unreported", 'unreported',
    (np.where(shootings["Official disposition of death (justified or other)"] == \
              "Unreported; Police Department Regulations Changed", 'unreported', 
              'others')))))))))))))))))))))))))))))))))))

In [10]:
set(shootings["Symptoms of mental illness?"])

{nan,
 'Drug or alcohol use',
 'No',
 'Unkown',
 'Yes',
 'unknown',
 'Unknown',
 'Unknown '}

In [11]:
## Having mental ilness or not
shootings["Mental"] = np.where(shootings["Symptoms of mental illness?"] == "No", 'no',
                      np.where(shootings["Symptoms of mental illness?"] == "Yes", 'yes', 'unknown'))

In [12]:
shootings['Race'] = np.where(shootings["Victim's race"] == "Asian", 'Asian',
                    np.where(shootings["Victim's race"] == "Asian/Pacific Islander", 'Asian',
                    np.where(shootings["Victim's race"] == "Black", 'Black',
                    np.where(shootings["Victim's race"] == "Hispanic", 'Hispanic',
                    np.where(shootings["Victim's race"] == "Native American", 'Native American',
                    np.where(shootings["Victim's race"] == "Pacific Islander", 'Pacific Islander',
                    np.where(shootings["Victim's race"] == "Unknown Race", 'Unknown',
                    np.where(shootings["Victim's race"] == "Unknown race", 'Unknown',
                    np.where(shootings["Victim's race"] == "White", 'White', 'Other')))))))))

In [13]:
shootings.head()

,Victim's name,Victim's age,Victim's gender,Victim's race,URL of image of victim,Date of Incident (month/day/year),Street Address of Incident,City,State,Zipcode,...,Alleged Threat Level (Source: WaPo),Fleeing (Source: WaPo),Body Camera (Source: WaPo),WaPo ID (If included in WaPo database),Unnamed: 24,Armed,Flee,Official_Invest,Mental,Race
0,Name withheld by police,Unknown,Male,Unknown race,NaN,2018-09-18,300 35th Street,Virginia Beach,VA,23451.0,...,attack,Foot,No,4033.0,NaN,gun,Fleeing,pending investigation,unknown,Unknown
1,Jose Alvarez,23,Male,Hispanic,https://www.fatalencounters.org/wp-content/upl...,2018-09-17,3466 Brinkley Rd,Temple Hills,MD,20748.0,...,other,Foot,No,4038.0,NaN,gun,Fleeing,pending investigation,no,Hispanic
2,Susan Muller,54,Female,Unknown race,NaN,2018-09-17,59-14 69th Street,Flushing,NY,11378.0,...,attack,Not fleeing,Yes,4039.0,NaN,knife,Not Fleeing,pending investigation,yes,Unknown
3,Name withheld by police,Unknown,Male,Unknown race,NaN,2018-09-17,13105 Greenville Rd,Hopkinsville,KY,42240.0,...,attack,Car,No,4040.0,NaN,vehicle,Fleeing,pending investigation,no,Unknown
4,"Ricardo ""Macho"" Avenia",29,Male,Hispanic,NaN,2018-09-16,571 Pershing Ave,Lancaster,PA,17602.0,...,attack,Not fleeing,No,4035.0,NaN,gun,Not Fleeing,pending investigation,no,Hispanic

In [16]:
## edited dataframe
shootings_2 = shootings[['County', 'Race', 'Armed', 'Flee', 'Official_Invest', 'Mental']]\
             [shootings['County'] != 'no county (http://www.ask.com/geography/county-newport-news-va-b09f1918d6a5a4eb)']

In [34]:
shootings_race = shootings_2.groupby(['County', 'Race'])['Race'].count().unstack().fillna(0)

In [40]:
shootings_armed = shootings_2.groupby(['County', 'Armed'])['Armed'].count().unstack().fillna(0)
shootings_flee = shootings_2.groupby(['County', 'Flee'])['Flee'].count().unstack().fillna(0)
shootings_official = shootings_2.groupby(['County', 'Official_Invest'])['Official_Invest'].count().unstack().fillna(0)
shootings_mental = shootings_2.groupby(['County', 'Mental'])['Mental'].count().unstack().fillna(0)

In [35]:
shootings_race['Total'] = shootings_race.sum(axis=1)

In [36]:
shootings_race.head()

Race,Asian,Black,Hispanic,Native American,Pacific Islander,Unknown,White,Total
County,,,,,,,,
Acadia,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
Acadiana,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
Ada,0.0,0.0,3.0,0.0,0.0,1.0,6.0,10.0
Adair,0.0,0.0,0.0,0.0,0.0,0.0,2.0,2.0
Adams,0.0,4.0,9.0,1.0,0.0,7.0,12.0,33.0

In [37]:
shootings_race['Asian_perc'] = shootings_race['Asian'] / shootings_race['Total']
shootings_race['Black_perc'] = shootings_race['Black'] / shootings_race['Total']
shootings_race['Hispanic_perc'] = shootings_race['Hispanic'] / shootings_race['Total']
shootings_race['Native_perc'] = shootings_race['Native American'] / shootings_race['Total']
shootings_race['Islander_perc'] = shootings_race['Pacific Islander'] / shootings_race['Total']
shootings_race['Unknown_perc'] = shootings_race['Unknown'] / shootings_race['Total']
shootings_race['White_perc'] = shootings_race['White'] / shootings_race['Total']

In [39]:
shootings_race = shootings_race[['Total', 'Asian_perc', 'Black_perc', 'Hispanic_perc', 'Native_perc', 
                                 'Islander_perc', 'Unknown_perc', 'White_perc']]
shootings_race.head()

Race,Total,Asian_perc,Black_perc,Hispanic_perc,Native_perc,Islander_perc,Unknown_perc,White_perc
County,,,,,,,,
Acadia,1.0,0.0,0.000000,0.000000,0.000000,0.0,1.000000,0.000000
Acadiana,1.0,0.0,1.000000,0.000000,0.000000,0.0,0.000000,0.000000
Ada,10.0,0.0,0.000000,0.300000,0.000000,0.0,0.100000,0.600000
Adair,2.0,0.0,0.000000,0.000000,0.000000,0.0,0.000000,1.000000
Adams,33.0,0.0,0.121212,0.272727,0.030303,0.0,0.212121,0.363636

In [41]:
shootings_armed.columns

Index(['gun', 'knife', 'others', 'toy', 'unarmed', 'undetermined', 'vehicle'], dtype='object', name='Armed')

In [42]:
shootings_armed['gun_perc'] = shootings_armed['gun'] / shootings_race['Total']
shootings_armed['knife_perc'] = shootings_armed['knife'] / shootings_race['Total']
shootings_armed['others_perc'] = shootings_armed['others'] / shootings_race['Total']
shootings_armed['toy_perc'] = shootings_armed['toy'] / shootings_race['Total']
shootings_armed['unarmed_perc'] = shootings_armed['unarmed'] / shootings_race['Total']
shootings_armed['undetermined_perc'] = shootings_armed['undetermined'] / shootings_race['Total']
shootings_armed['vehicle_perc'] = shootings_armed['vehicle'] / shootings_race['Total']

In [43]:
shootings_armed = shootings_armed[['gun_perc', 'knife_perc', 'others_perc', 'toy_perc',
                                   'unarmed_perc', 'undetermined_perc', 'vehicle_perc']]
shootings_armed.head()

Armed,gun_perc,knife_perc,others_perc,toy_perc,unarmed_perc,undetermined_perc,vehicle_perc
County,,,,,,,
Acadia,0.000000,0.000000,1.000000,0.0,0.000000,0.000000,0.000000
Acadiana,1.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000
Ada,0.900000,0.000000,0.000000,0.0,0.000000,0.000000,0.100000
Adair,0.000000,0.000000,0.500000,0.0,0.500000,0.000000,0.000000
Adams,0.454545,0.030303,0.242424,0.0,0.060606,0.090909,0.121212

In [44]:
shootings_flee.columns

Index(['Fleeing', 'Not Fleeing', 'Other'], dtype='object', name='Flee')

In [45]:
shootings_flee['fleeing_perc'] = shootings_flee['Fleeing'] / shootings_race['Total']
shootings_flee['not_fleeing_perc'] = shootings_flee['Not Fleeing'] / shootings_race['Total']
shootings_flee['other_perc'] = shootings_flee['Other'] / shootings_race['Total']

In [46]:
shootings_flee = shootings_flee[['fleeing_perc', 'not_fleeing_perc', 'other_perc']]
shootings_flee.head()

Flee      fleeing_perc  not_fleeing_perc  other_perc
County
Acadia        0.000000          0.000000    1.000000
Acadiana      0.000000          1.000000    0.000000
Ada           0.300000          0.500000    0.200000
Adair         0.000000          1.000000    0.000000
Adams         0.242424          0.484848    0.272727

In [47]:
shootings_official.columns

Index(['justified', 'others', 'pending investigation', 'unreported'], dtype='object', name='Official_Invest')

In [48]:
shootings_official['justified_perc'] = shootings_official['justified'] / shootings_race['Total']
shootings_official['others_perc'] = shootings_official['others'] / shootings_race['Total']
shootings_official['pending_invest_perc'] = shootings_official['pending investigation'] / shootings_race['Total']
shootings_official['unreported_perc'] = shootings_official['unreported'] / shootings_race['Total']

In [49]:
shootings_official = shootings_official[['justified_perc', 'others_perc', 
                                         'pending_invest_perc', 'unreported_perc']]
shootings_official.head()

Official_Invest,justified_perc,others_perc,pending_invest_perc,unreported_perc
County,,,,
Acadia,0.000000,0.000000,0.000000,1.000000
Acadiana,0.000000,0.000000,1.000000,0.000000
Ada,0.000000,0.000000,0.900000,0.100000
Adair,0.000000,0.500000,0.500000,0.000000
Adams,0.121212,0.121212,0.666667,0.090909

In [50]:
shootings_mental.columns

Index(['no', 'unknown', 'yes'], dtype='object', name='Mental')

In [51]:
shootings_mental['no_perc'] = shootings_mental['no'] / shootings_race['Total']
shootings_mental['unknown_perc'] = shootings_mental['unknown'] / shootings_race['Total']
shootings_mental['yes_perc'] = shootings_mental['yes'] / shootings_race['Total']

In [53]:
shootings_mental = shootings_mental[['no_perc', 'unknown_perc', 'yes_perc',]]
shootings_mental.head()

Mental     no_perc  unknown_perc  yes_perc
County
Acadia    1.000000      0.000000  0.000000
Acadiana  1.000000      0.000000  0.000000
Ada       0.600000      0.300000  0.100000
Adair     0.500000      0.500000  0.000000
Adams     0.727273      0.212121  0.060606

In [58]:
shootings_perc = shootings_race.merge(shootings_armed, right_index=True, left_index=True)
shootings_perc = shootings_perc.merge(shootings_flee, right_index=True, left_index=True)
shootings_perc = shootings_perc.merge(shootings_official, right_index=True, left_index=True)
shootings_perc = shootings_perc.merge(shootings_mental, right_index=True, left_index=True)
shootings_perc.head()

,Total,Asian_perc,Black_perc,Hispanic_perc,Native_perc,Islander_perc,Unknown_perc,White_perc,gun_perc,knife_perc,...,fleeing_perc,not_fleeing_perc,other_perc,justified_perc,others_perc_y,pending_invest_perc,unreported_perc,no_perc,unknown_perc,yes_perc
County,,,,,,,,,,,,,,,,,,,,,
Acadia,1.0,0.0,0.000000,0.000000,0.000000,0.0,1.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000
Acadiana,1.0,0.0,1.000000,0.000000,0.000000,0.0,0.000000,0.000000,1.000000,0.000000,...,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000
Ada,10.0,0.0,0.000000,0.300000,0.000000,0.0,0.100000,0.600000,0.900000,0.000000,...,0.300000,0.500000,0.200000,0.000000,0.000000,0.900000,0.100000,0.600000,0.300000,0.100000
Adair,2.0,0.0,0.000000,0.000000,0.000000,0.0,0.000000,1.000000,0.000000,0.000000,...,0.000000,1.000000,0.000000,0.000000,0.500000,0.500000,0.000000,0.500000,0.500000,0.000000
Adams,33.0,0.0,0.121212,0.272727,0.030303,0.0,0.212121,0.363636,0.454545,0.030303,...,0.242424,0.484848,0.272727,0.121212,0.121212,0.666667,0.090909,0.727273,0.212121,0.060606