In [1]:
#import all the libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import geopandas as gpd
from sklearn.linear_model import LogisticRegression
from sklearn import svm
from sklearn.metrics import confusion_matrix
from sklearn import datasets
from sklearn.decomposition import PCA
from sklearn import preprocessing
%pylab inline

# To ignore some warnings
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.simplefilter(action='ignore', category=UserWarning)

Populating the interactive namespace from numpy and matplotlib

In [2]:
# read police shooting data
shooting_df = pd.read_excel('MPVDatasetDownload.xlsx')
shooting_df.head()

,Victim's name,Victim's age,Victim's gender,Victim's race,URL of image of victim,Date of Incident (month/day/year),Street Address of Incident,City,State,Zipcode,...,Criminal Charges?,Link to news article or photo of official document,Symptoms of mental illness?,Unarmed,Alleged Weapon (Source: WaPo),Alleged Threat Level (Source: WaPo),Fleeing (Source: WaPo),Body Camera (Source: WaPo),WaPo ID (If included in WaPo database),Unnamed: 24
0,Name withheld by police,Unknown,Male,Unknown race,NaN,2018-09-18,300 35th Street,Virginia Beach,VA,23451.0,...,No known charges,https://wtkr.com/2018/09/18/virginia-beach-pol...,Unknown,Allegedly Armed,gun,attack,Foot,No,4033.0,NaN
1,Jose Alvarez,23,Male,Hispanic,https://www.fatalencounters.org/wp-content/upl...,2018-09-17,3466 Brinkley Rd,Temple Hills,MD,20748.0,...,No known charges,http://pgpolice.blogspot.com/2018/09/pgpd-inve...,No,Allegedly Armed,gun,other,Foot,No,4038.0,NaN
2,Susan Muller,54,Female,Unknown race,NaN,2018-09-17,59-14 69th Street,Flushing,NY,11378.0,...,No known charges,http://www.nydailynews.com/new-york/nyc-crime/...,Yes,Allegedly Armed,knife,attack,Not fleeing,Yes,4039.0,NaN
3,Name withheld by police,Unknown,Male,Unknown race,NaN,2018-09-17,13105 Greenville Rd,Hopkinsville,KY,42240.0,...,No known charges,https://www.wsmv.com/news/suspect-shot-killed-...,No,Vehicle,vehicle,attack,Car,No,4040.0,NaN
4,"Ricardo ""Macho"" Avenia",29,Male,Hispanic,NaN,2018-09-16,571 Pershing Ave,Lancaster,PA,17602.0,...,No known charges,https://lancasteronline.com/news/local/da-poli...,No,Allegedly Armed,gun,attack,Not fleeing,No,4035.0,NaN

In [9]:
# read county wise crime data
crime_df = pd.read_csv('2016 - united-states-crime-rates-by-county.csv')
crime_df.head()

,county_name,crime_rate_per_100000,index,EDITION,PART,IDNO,CPOPARST,CPOPCRIM,AG_ARRST,AG_OFF,...,RAPE,ROBBERY,AGASSLT,BURGLRY,LARCENY,MVTHEFT,ARSON,population,FIPS_ST,FIPS_CTY
0,"St. Louis city, MO",1791.995377,1,1,4,1612,318667,318667,15,15,...,200,1778,3609,4995,13791,3543,464,318416,29,510
1,"Crittenden County, AR",1754.914968,2,1,4,130,50717,50717,4,4,...,38,165,662,1482,1753,189,28,49746,5,35
2,"Alexander County, IL",1664.700485,3,1,4,604,8040,8040,2,2,...,2,5,119,82,184,12,2,7629,17,3
3,"Kenedy County, TX",1456.310680,4,1,4,2681,444,444,1,1,...,3,1,2,5,4,4,0,412,48,261
4,"De Soto Parish, LA",1447.402430,5,1,4,1137,26971,26971,3,3,...,4,17,368,149,494,60,0,27083,22,31

In [10]:
zip_fip_df = pd.read_csv('ZIP-COUNTY-FIPS_2017-06.csv')
zip_fip_df.columns = ['Zipcode', 'COUNTYNAME', 'STATE', 'county_fips', 'CLASSFP']
zip_fip_df.head()

   Zipcode      COUNTYNAME STATE  county_fips CLASSFP
0    36003  Autauga County    AL         1001      H1
1    36006  Autauga County    AL         1001      H1
2    36067  Autauga County    AL         1001      H1
3    36066  Autauga County    AL         1001      H1
4    36703  Autauga County    AL         1001      H1

In [11]:
# split county and state and merge it with crime
county_state = crime_df['county_name'].str.split(',', expand=True)
crime_df = crime_df.merge(county_state, how='outer', left_index=True, right_index=True)
crime_df = crime_df.merge(county_state, how='outer', left_index=True, right_index=True)

crime_df.head()

,county_name,crime_rate_per_100000,index,EDITION,PART,IDNO,CPOPARST,CPOPCRIM,AG_ARRST,AG_OFF,...,LARCENY,MVTHEFT,ARSON,population,FIPS_ST,FIPS_CTY,0_x,1_x,0_y,1_y
0,"St. Louis city, MO",1791.995377,1,1,4,1612,318667,318667,15,15,...,13791,3543,464,318416,29,510,St. Louis city,MO,St. Louis city,MO
1,"Crittenden County, AR",1754.914968,2,1,4,130,50717,50717,4,4,...,1753,189,28,49746,5,35,Crittenden County,AR,Crittenden County,AR
2,"Alexander County, IL",1664.700485,3,1,4,604,8040,8040,2,2,...,184,12,2,7629,17,3,Alexander County,IL,Alexander County,IL
3,"Kenedy County, TX",1456.310680,4,1,4,2681,444,444,1,1,...,4,4,0,412,48,261,Kenedy County,TX,Kenedy County,TX
4,"De Soto Parish, LA",1447.402430,5,1,4,1137,26971,26971,3,3,...,494,60,0,27083,22,31,De Soto Parish,LA,De Soto Parish,LA

In [12]:
crime_df.drop(['0_y', '1_y'], axis=1, inplace=True)
crime_df.rename(index=str, columns={'0_x': 'county', '1_x': 'state'}, inplace=True)
crime_df.head()

,county_name,crime_rate_per_100000,index,EDITION,PART,IDNO,CPOPARST,CPOPCRIM,AG_ARRST,AG_OFF,...,AGASSLT,BURGLRY,LARCENY,MVTHEFT,ARSON,population,FIPS_ST,FIPS_CTY,county,state
0,"St. Louis city, MO",1791.995377,1,1,4,1612,318667,318667,15,15,...,3609,4995,13791,3543,464,318416,29,510,St. Louis city,MO
1,"Crittenden County, AR",1754.914968,2,1,4,130,50717,50717,4,4,...,662,1482,1753,189,28,49746,5,35,Crittenden County,AR
2,"Alexander County, IL",1664.700485,3,1,4,604,8040,8040,2,2,...,119,82,184,12,2,7629,17,3,Alexander County,IL
3,"Kenedy County, TX",1456.310680,4,1,4,2681,444,444,1,1,...,2,5,4,4,0,412,48,261,Kenedy County,TX
4,"De Soto Parish, LA",1447.402430,5,1,4,1137,26971,26971,3,3,...,368,149,494,60,0,27083,22,31,De Soto Parish,LA

In [21]:
# crime_df[crime_df['county'].str.contains("Crittenden")]
crime_df[crime_df['FIPS_CTY'] == 3]
crime_df['county_fips'] = crime_df['FIPS_ST'] * 1000 + crime_df['FIPS_CTY']
crime_df.head()

,county_name,crime_rate_per_100000,index,EDITION,PART,IDNO,CPOPARST,CPOPCRIM,AG_ARRST,AG_OFF,...,BURGLRY,LARCENY,MVTHEFT,ARSON,population,FIPS_ST,FIPS_CTY,county,state,county_fips
0,"St. Louis city, MO",1791.995377,1,1,4,1612,318667,318667,15,15,...,4995,13791,3543,464,318416,29,510,St. Louis city,MO,29510
1,"Crittenden County, AR",1754.914968,2,1,4,130,50717,50717,4,4,...,1482,1753,189,28,49746,5,35,Crittenden County,AR,5035
2,"Alexander County, IL",1664.700485,3,1,4,604,8040,8040,2,2,...,82,184,12,2,7629,17,3,Alexander County,IL,17003
3,"Kenedy County, TX",1456.310680,4,1,4,2681,444,444,1,1,...,5,4,4,0,412,48,261,Kenedy County,TX,48261
4,"De Soto Parish, LA",1447.402430,5,1,4,1137,26971,26971,3,3,...,149,494,60,0,27083,22,31,De Soto Parish,LA,22031

In [55]:
# Shooting df has county fips code now. so can merge and group by on that.
shooting_df = shooting_df.merge(zip_fip_df, on="Zipcode", left_index=True, right_index=True)

In [59]:
# set(list(shooting_df['county_fips']))
# shooting_df[shooting_df['COUNTYNAME'].str.contains("Crittenden")]

# determine types of weapons

# set(list(shooting_df['Alleged Weapon (Source: WaPo)']))
# df = pd.DataFrame(shooting_df.groupby(['Alleged Weapon (Source: WaPo)'])['Alleged Weapon (Source: WaPo)'].count())
# df.sort_values(by=['Alleged Weapon (Source: WaPo)'])

# # determine causes of death
# ==> Not taking this
# df = pd.DataFrame(shooting_df.groupby(['Cause of death'])['Cause of death'].count())
# df.sort_values(by=['Cause of death'])

# # determine Official disposition of death (justified or other)
# df = pd.DataFrame(shooting_df.groupby(['Official disposition of death (justified or other)'])['Official disposition of death (justified or other)'].count())
# df.sort_values(by=['Official disposition of death (justified or other)'])

# # determine Official disposition of death (justified or other)
# df = pd.DataFrame(shooting_df.groupby(['Symptoms of mental illness?'])['Symptoms of mental illness?'].count())
# df.sort_values(by=['Symptoms of mental illness?'])

# # determine Official disposition of death (justified or other)
# leaving it because 6300 
# df = pd.DataFrame(shooting_df.groupby(['Criminal Charges?'])['Criminal Charges?'].count())
# df.sort_values(by=['Criminal Charges?'])

crime_df.columns
crime_df.iloc[:, 13:]

,MURDER,RAPE,ROBBERY,AGASSLT,BURGLRY,LARCENY,MVTHEFT,ARSON,population,FIPS_ST,FIPS_CTY,county,state,county_fips
0,119,200,1778,3609,4995,13791,3543,464,318416,29,510,St. Louis city,MO,29510
1,8,38,165,662,1482,1753,189,28,49746,5,35,Crittenden County,AR,5035
2,1,2,5,119,82,184,12,2,7629,17,3,Alexander County,IL,17003
3,0,3,1,2,5,4,4,0,412,48,261,Kenedy County,TX,48261
4,3,4,17,368,149,494,60,0,27083,22,31,De Soto Parish,LA,22031
5,216,317,3638,4660,7804,18055,4009,251,622104,24,510,Baltimore city,MD,24510
6,135,483,3512,8224,14011,30620,3233,435,939465,47,157,Shelby County,TN,47157
7,3,20,32,296,408,1074,67,5,28003,45,69,Marlboro County,SC,45069
8,0,7,2,39,23,55,8,2,3942,32,29,Storey County,NV,32029
9,88,236,4037,3505,3519,23575,3663,51,646449,11,1,District of Columbia,DC,11001
10,8,17,48,291,595,1206,105,12,31229,45,33,Dillon County,SC,45033
11,2,7,26,422,236,1002,39,8,39290,29,201,Scott County,MO,29201
12,332,881,7984,8669,12004,38595,6401,0,1553165,42,101,Philadelphia County,PA,42101
13,0,3,1,75,27,43,5,0,6877,32,27,Pershing County,NV,32027
14,7,39,73,676,965,2564,122,12,69723,45,47,Greenwood County,SC,45047
15,13,33,196,882,1300,2604,180,27,98733,47,113,Madison County,TN,47113
16,65,312,1753,5309,5875,20373,1418,100,658602,47,37,Davidson County,TN,47037
17,102,453,3486,6017,15125,29122,4757,414,928281,18,97,Marion County,IN,18097
18,433,803,5879,11795,19882,34706,15251,766,1775273,26,163,Wayne County,MI,26163
19,116,358,1913,4594,9695,25994,4953,318,679996,29,95,Jackson County,MO,29095
20,0,23,12,43,46,126,38,2,7685,2,188,Northwest Arctic Borough,AK,2188
21,0,6,21,151,192,463,23,2,17823,29,155,Pemiscot County,MO,29155
22,5,9,26,285,266,928,26,0,33367,22,47,Iberville Parish,LA,22047
23,61,179,1058,2458,7065,18011,1805,130,391284,5,119,Pulaski County,AR,5119
24,14,42,139,507,1400,2306,255,44,73191,5,69,Jefferson County,AR,5069
25,1,9,45,360,488,1597,130,6,43402,5,91,Miller County,AR,5091
26,3,34,41,593,878,1324,142,23,70303,40,101,Muskogee County,OK,40101
27,5,4,33,169,349,691,74,10,22119,45,11,Barnwell County,SC,45011
28,11,64,185,935,2683,4262,218,1,125412,22,105,Tangipahoa Parish,LA,22105
29,8,12,51,231,771,1060,92,12,32072,45,67,Marion County,SC,45067
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3106,0,0,0,0,0,1,0,0,5698,31,59,Fillmore County,NE,31059
3107,0,0,0,0,1,0,0,0,1290,30,33,Garfield County,MT,30033
3108,0,0,0,0,0,1,0,0,1437,46,119,Sully County,SD,46119
3109,0,0,0,0,0,0,1,0,721,8,79,Mineral County,CO,8079
3110,0,0,0,0,0,0,1,0,4041,46,45,Edmunds County,SD,46045
3111,0,0,0,0,0,1,0,0,1902,31,69,Garden County,NE,31069
3112,0,0,0,0,0,1,0,0,6895,31,173,Thurston County,NE,31173
3113,0,0,0,0,0,1,0,0,7277,18,161,Union County,IN,18161
3114,0,0,0,0,0,0,0,0,9982,46,121,Todd County,SD,46121
3115,0,0,0,0,2,1,0,0,3586,48,271,Kinney County,TX,48271
3116,0,0,0,0,1,2,0,0,4865,31,65,Furnas County,NE,31065
3117,0,0,0,0,2,1,0,0,1121,30,109,Wibaux County,MT,30109
3118,0,0,0,0,5,3,0,0,2754,38,51,McIntosh County,ND,38051
3119,0,0,0,0,7,5,0,0,2360,38,1,Adams County,ND,38001
3120,0,0,0,0,3,7,2,0,6211,19,143,Osceola County,IA,19143
3121,0,0,0,0,4,7,1,0,3093,48,421,Sherman County,TX,48421
3122,0,0,0,0,2,8,1,0,3037,46,105,Perkins County,SD,46105
3123,0,0,0,0,5,5,0,0,813,8,53,Hinsdale County,CO,8053
3124,0,0,0,0,2,4,2,1,1334,46,21,Campbell County,SD,46021
3125,0,0,0,0,3,5,0,0,1823,38,33,Golden Valley County,ND,38033
3126,0,0,0,0,3,5,0,0,867,16,33,Clark County,ID,16033
3127,0,0,0,0,0,2,1,0,1537,48,45,Briscoe County,TX,48045
3128,0,0,0,0,0,4,2,0,3366,38,31,Foster County,ND,38031
3129,0,0,0,0,0,5,0,0,11305,31,13,Box Butte County,NE,31013
3130,0,0,0,0,3,2,0,0,1452,48,101,Cottle County,TX,48101
3131,0,0,0,0,2,2,0,0,5994,18,115,Ohio County,IN,18115
3132,0,0,0,0,4,0,1,0,21689,28,101,Newton County,MS,28101
3133,0,0,0,0,1,3,1,0,2066,46,73,Jerauld County,SD,46073
3134,0,0,0,0,1,2,0,0,2335,40,25,Cimarron County,OK,40025
3135,0,0,0,0,0,0,0,0,12514,28,77,Lawrence County,MS,28077

### Shooting and crime dataset has county_fips on each.

#### TODO:
- classify crimes as violent crimes
    - add them
    - convert the required ones to crimes per 1000, or 10,000
- merge shooting and crime dataset
    - drop unnecessary columns

1. county level regressors ==> number of shootings
2. regressors ==> number of violent crimes
3. 


### other datasets
- race demographics
- poverty level
- unemployment level


- ? avg income?
- ? police spending
- ? number of police officers

### Shootings dataset
- count of shootings in that county, per 1000 residents
- percentage of total number of shootings, where victim was armed (of total number of shootings per county)
    - gun
    - knife
    - toy
    - undetermined
    - vehicle
    - others
- percentage of total number of shootings, where  victim fleeing (combine foot and car, so that eventually it's fleeing and not fleeing)
- percentage of total number of shootings, where Official disposition of death (justified or other) (of total number of shootings per county)
    - pending investigation
    - justified
    - unreported
    - others
- percentage of total number of shootings, where Symptoms of mental illness? (of total number of shootings per county)
    - yes
    - no
    - unknown
- XX police body camera (leave it for now. because implemented at some places and not at others)
   - yes
   - no

### Crime dataset
- amount of crime
- violent crimes, per 1000 residents
    - murder
    - rape
    - ag assault
    

- Merge all of them by county fips code

- Start playing with the data
    - correlations
    - modelling
        - see if quadratic terms are needed
        - See if PCA can be used
        - check for overfitting and look at IS R2 and OS R2.

- Idea:
    - DS1 and model1: aggregate county level shootings, merge it with demographics and do the analysis of demographics, poverty, unemployment on that
    - DS2 and model2: individual shootings, do the analysis of %armed, %mental illness etc